<ol class="breadcrumb">
  <li><a href="<%= innbox.root_path %>"><%= t('innbox.nav.home') %></a></li>
  <li><a href="<%= innbox.messages_path %>"><%= t('innbox.nav.pm') %></a></li>
  <li class="active"><%= t('innbox.new') %></li>
</ol>


<%= form_for(@item) do |f| %>
  <%= render_errors @item %>
  <div class="form-group">
    <%= f.label :receiver_id %>
    <%= f.select :receiver_id, Innbox.config.user_class.constantize.all.collect { |n| [n.send(Innbox.config.user_name_method), n.id] }, {}, { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: "form-control", rows: "10" %>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary btn-lg" data-disable-with="<%= t('innbox.submiting') %>"><%= t('innbox.submit') %></button>
    <a href="<%= innbox.messages_path %>" class="btn btn-lg btn-default"><%= t('innbox.cancel') %></a>
  </div>
<% end %>
