<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title %></title>
  <%= stylesheet_link_tag    "mails/application", media: "all" %>
  <%= javascript_include_tag "mails/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="main-layout">
    <div class="container">
      <%= notice_message %>

      <%= yield %>
    </div>
  </div>

</body>
</html>
